@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

form {
  margin: 30px;
  border: 2px solid cadetblue;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  border-radius: 255px;
  position: relative;
}

.form-group {
  width: 30%;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-group label {
  color: darkcyan;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
}

input::before {
  content: '';
  position: absolute;
  background: #2b2e37;
  color: #fff;
  top: 0;
  width: 18px;
  float: left;
  text-indent: 0;
  display: block;
  height: 10px;
}

.form-group input{
  padding: 10px 2%;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  text-transform: capitalize;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 13px;
  border-left: hidden;
  border-right: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  outline: none;
}
.form-control {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

#submit,
#cancel {
  padding: 10px 4%;
  margin: 10px 4%;
  background: darkslategray;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 5px 5px darkcyan;
  cursor: pointer;
  color: whitesmoke;
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.form-group span {
  width: 470px;
  display: none;
  color: indianred;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  padding: 4px;
  top: 95%;
  text-align: center;
}

.form-control span {
  width: 20%;
  padding: 10px;
  display: none;
  color: indianred;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 10%;
  right: 10%;
}

.visible { display: inline-block; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #2b2e37;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

 /*=================================
  footer styling ends here
=================================*/ 
